# Drive の「バックアップ」フォルダのID
# https://drive.google.com/drive/folders/<ここ>
HC_DRIVE_FOLDER_ID=

# 出力先スプレッドシートのID
# https://docs.google.com/spreadsheets/d/<ここ>/edit
HC_SPREADSHEET_ID=

# 以下は任意。未設定ならコンテナ内の既定値が使われる
# HC_POLL_INTERVAL=1h
# HC_LOG_LEVEL=info
